 .footer-top-main{
    padding :10px  0 0 0;
    border-bottom :1px solid #DDE5ED;    
}
.features{
    border-right: 1px solid #DDE5ED;
    border-top: none;
    border-bottom: none;
}

.feature-text{
    font-weight: bold;
    font-size: 20px;
}
.sub-title{
    text-align: center;
    color: #939599;
}
.row .features:last-child{
    border-right: none;
}
.featur-border{
    border-bottom :1px solid #DDE5ED;
}